@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_light.otf");
    font-weight: 300;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_regular.otf");
    font-weight: 400;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_semibold.otf");
    font-weight: 600;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/Proxima _nova_bold.otf");
    font-weight: 700;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_black.otf");
    font-weight: 900;
  }
  .text-grade {
    /* @apply text-transparent bg-clip-text bg-gradient-to-b from-[#002E33] via-[#18494E] to-[#00474D]; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(126.52deg, #003B40 7.69%, #005961 26.91%, #00818C 46.93%, #005961 67.49%, #003B40 86.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
body{
    background-color: #E6EDED;
}
.mySwiper{
    background-color: #E6EDED;
    /* border-radius: 15px; */
    overflow: hidden;
    box-sizing: border-box;
    /* height: 200%; */
}
