@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_light.otf");
    font-weight: 300;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_regular.otf");
    font-weight: 400;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_semibold.otf");
    font-weight: 600;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/Proxima _nova_bold.otf");
    font-weight: 700;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_black.otf");
    font-weight: 900;
  }
  .text-grade {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-[#002E33] via-[#18494E] to-[#00474D];
  }
body{
    background-color: #E6EDED;
}
.mySwiper{
    background-color: #E6EDED;
    /* border-radius: 15px; */
    /* height: 200%; */
}
