@tailwind base;
/* ::selection {
    color: #E6EDED !important;
    background-color: #003B40;
  } */
@tailwind components;
@tailwind utilities;


@layer components {
    .cardShadow {
        @apply shadow-[-0.3011875rem_-0.3011875rem_0.34340875rem_#FFFFFF,0.228939375rem_0.228939375rem_0.34340875rem_#B6C3C5];
    }
    .cardShadowHoverd {
        @apply shadow-[inset_-0.3011875rem_-0.3011875rem_0.34340875rem_#FFFFFF,inset_0.228939375rem_0.228939375rem_0.34340875rem_#B6C3C5];
    }
  }


@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_light.otf");
    font-weight: 300;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_regular.otf");
    font-weight: 400;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_semibold.otf");
    font-weight: 600;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/Proxima _nova_bold.otf");
    font-weight: 700;
  }
@font-face {
    font-family: "nova";
    src: url("../assets/fonts/proxima_nova_black.otf");
    font-weight: 900;
  }
  .text-grade {
    /* @apply text-transparent bg-clip-text bg-gradient-to-b from-[#002E33] via-[#18494E] to-[#00474D]; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(126.52deg, #003B40 7.69%, #005961 26.91%, #00818C 46.93%, #005961 67.49%, #003B40 86.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
body{
    background-color: #E6EDED;
}
.mySwiper{
    background-color: #E6EDED;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    /* height: 200%; */
}



@keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
div.select_component::-webkit-scrollbar {
    width: 0.4375rem;
    /* color: #E6EDED; */
    background-color: #E6EDED;
    box-shadow: inset -2.53846px -2.53846px 4.23077px #FFFFFF, inset 4.23077px 4.23077px 5.92308px #B6C3C5;
    height: 10px;
    /* padding: 50px 0; */
    /* margin: 50px 0; */
    border-radius: 100px;
}
div.select_component::-webkit-scrollbar-thumb {
    width: 0.4375rem;
    /* color: #00494F; */
    background-color: #00494F;
    /* height: 10px !important; */
    height: 10px;
    border-radius: 100px;
    /* padding: 50px 0;
    margin: 50px 0; */
    /* border-radius: 100px; */


}
div.select_component::-moz-scrollbar-track {
    width: 0.4375rem;
    /* color: #E6EDED; */
    /* background-color: #E6EDED; */
    /* background-color: #00494F; */
}
.select_component{
    width: thin;
    color: blue;
    /* background-color: blue; */
    scrollbar-color: #00494F #E6EDED;
    scrollbar-track-color: #E6EDED;
    /* scrollbar-shadow-color: #B6C3C5; */
    /* scrollbar-width:90px !important; */
}


.flip:hover .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
  }

  .vvv
{
    transform: rotateY(180deg);
}

.vvinitial{
    transform: rotateY(0deg);
}
/* .swiper-slide{
    margin-right: 2.8125rem;
} */
.newsmySwiper .swiper-slide{
    margin-right: 3.125rem;
    /* padding-left: 1.5625rem; */
    /* margin-right: -2.8125rem; */

}
.offPlanmySwiper .swiper-slide{
    /* margin-right: 2.25rem; */
    /* padding-left: 1.5625rem; */
    /* margin-right: -2.8125rem; */
    /* margin-right: -1rem; */
    /* margin-left: -2rem; */

}
.offPlanmySwiper .swiper-slide-active{
    margin-right: 0.25rem;
    margin-left: -1.25rem;
    /* width: max-content !important; */
    /* padding-left: 1.5625rem; */
    /* margin-right: -2.8125rem; */
    /* margin-right: -1rem;
    margin-left: -5rem; */
    /* margin-left: -2rem; */

}
.offPlanmySwiper .mySwiperxxinnerofplanwsiper .swiper-slide-active{

    margin-left: 0rem !important;
    margin-right: 0rem !important;
    /* width: auto; */

}
.circlemySwiper .swiper-slide-next{
    /* margin-right: 9.5rem;
    padding-left: 1.5625rem; */
    transform-origin: bottom;
}
.circlemySwiper .swiper-slide-active{
    /* margin-right: 9.5rem;
    padding-left: 1.5625rem; */
    /* transform-origin: bottom; */
    /* transform: scale(1) !important; */
    margin-left: 1.375rem;
}
.mySwipercircleCardImages .swiper-slide-active{
    margin-left: 0rem;
}
.TvmySwiper .swiper-slide-active{
    /* margin-right: 3.125rem; */
    margin-left: -2.225rem;
    /* padding-left: 0.0375rem; */
}
.tvImageSwiperInternal .swiper-slide-active{
    margin-left: 0rem;
}
.devsmallswiper .swiper-slide{
    /* margin-right: 0.35rem; */
}
.archCardmySwiper .swiper-slide-active{
    /* margin-right: 0.614375rem;
    padding-left: 1.0375rem; */
    margin-left: 1.375rem;
}
.mySwiperArchCardImages .swiper-slide-active{
    /* margin-right: 0.614375rem;
    padding-left: 1.0375rem; */
    margin-left: 0rem;
}
.archCardmySwiper .swiper-slide-next{
    /* margin-right: 0.614375rem;
    padding-left: 1.0375rem; */
    transform-origin: bottom;
}
.originalCardmySwiper .swiper-slide{
    /* margin-right: 5.0075rem;
    padding-left: 2.9375rem; */
    margin-right: 2.839375rem;
    margin-left: 1.839375rem;
}

.originalimageswiper .swiper-slide{
    margin: 0rem;
}
.devmySwiper .swiper-slide{
    margin-right: 3.75rem;
    padding-left: 2.4375rem;
}
.agentmySwiper .swiper-slide{
    margin-right: 3.75rem;
    padding-left: 2.4375rem;
}
.mySwiperxx .swiper-slide{
    padding: 0.0725rem;
}
.mySwiperxxy .swiper-slide{
    padding: 0.0725rem;
}

.mySwiperxxy .swiper-pagination-horizontal {
    position: absolute;
    /* top: -1.5rem !important; */
        z-index: 99999999999999999;
    /* left: 4rem; */
    /* padding: 2rem; */
}
.hovercontainer:hover .swiper-pagination-horizontal{
    /* transform: scale(1) !important; */
    height: min-content;
    transition: all 0.2s ease-in-out;
}


.swiper-slide-active
{
    /* transform: scale(1) !important; */
}

.imf{
    /* width: 100%;
    height: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%); */
}

.simpleSwiper .swiper-slide{
    /* margin-right: 1.8125rem; */
}

.simpleSwiper{
    border-radius: 0.9375rem;
}
.newsSmallSwiper .swiper-slide{
    /* margin-right: 0.5625rem; */
}
